.personal {
  padding: 0;
  display: block;
  text-align: center;

  @media screen and (min-width: 768px) {
    & {
      @include flex(flex, null, null, null, wrap);
      margin: -15px;
    }
  }
}


.personal__item {
  @media screen and (max-width: 768px) {
    img {
      width: 450px;
    }
    
    display: block;
    .personal__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
  
      img {
        width: 354px;
        object-fit: cover;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      width: calc((100% - 8 * 15px) / 4);
      margin: 15px;
  
      img {
        width: 270px;
        object-fit: cover;
      }
    }
  }

}


.personal .personal__item {
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

// .personal .personal__item + .personal__item {
//   margin-left: 30px;
// }

.personal__title {
  margin-top: 0;
  margin-bottom: 10px;

  @include font(null, 16px, 500, 1.19, null, null,);
}

.personal-content {
  padding-top: 30px;
  padding-bottom: 24px;
}

.personal-content__item {
  margin-top: 0;
  margin-bottom: 16px;

  @include font(null, 16px, null, 1.19, null, null);
}