.team__section {
  background-color: $secondery-background-color;
  @include sectionMixin(60px, 60px);

}


.team__title {
  margin-top: 0;
  margin-bottom: 30px;

  @include font(null, 28px, null, 1.17, null, null);
  text-align: center;
}
