.button__hero {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  color: $primary-white-color;

  @include font(null, 16px, 700, 1.88, .06em, null);
  background-color: $accent-color;
  
  &.button:hover,
  &.button:focus {
    background-color: #188ce8;
  }
}