.clients__conteiner {
  text-align: center;
}

.clients {
  // @include flex(flex, center, null, null, null);

  padding: 0;
  margin: 0;
}

.clients .list + .list {
  margin-left: 30px;
}

.clients__title {
  margin-top: 0;
  margin-bottom: 50px;

  @include font(null, 36px, null, 1.17, .03em, null);
  text-align: center;
}

.clients__link {
  @include transition(border-color, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

  // @include flex(flex, center, center, null, null);
  // width: 170px;
  // height: 92px;

  border: 1px solid $color-icons;
  border-radius: 4px;
  
  &:hover,
  &:focus {
    border-color: $accent-color;
  }
  
  &:hover .clients__icon,
  &:focus .clients__icon {
    fill: $accent-color;
  }
}

.clients__icon {
  @include transition(fill, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

  fill: $color-icons;
}