section {
  @include sectionMixin(94px, 94px);
}

.feature {
  @media screen and (min-width: 1200px) {
    @include flex(flex, null, center, null, null);

    margin: -15px;
  }
  @media screen and (min-width: 767px) {
    @include flex(flex, null, null, null, wrap);

    margin: -15px;
  }
}

.feature__list {
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.feature__list {
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .feature__list:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__icon {
  @media screen and (min-width: 480px) {
    @include flex(flex, center, center, null, null);

    width: 450px;
    height: 120px;
  }

  @media screen and (min-width: 768px) {
    @include flex(flex, center, center, null, null);

    width: 354px;
    height: 120px;
  }

  @media screen and (min-width: 1200px) {
    @include flex(flex, center, center, null, null);

    width: 270px;
    height: 120px;
  }

  margin-bottom: 30px;
  text-align: center;

  background-color: $secondery-background-color;
  border-radius: 4px;
}

.features__title {
  @media screen and (min-width: 768px) {
    text-align: start;
  }

  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  @include font(null, 14px, 700, 1.14, null, null);
}

.features__item {
  margin: 0;

  @include font(null, 14px, null, 1.71, null, null);
}
