.filter-buttons {
  @media screen and (min-width: 768px) {
    @include flex(flex, null, center, null, null);
  }

  @include flex(flex, null, null, null, wrap);

  padding: 0;
  margin-top: 0px;
  margin-bottom: 40px;

}

@media screen and(max-width: 768px) {
  .filter-buttons__list:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
.filter-buttons .list {
  margin-right: 8px;
}

// .filter-buttons .list:nth-child(5) {
//   margin-right: 0;
// }

.button__primary {
  padding: 6px 22px;
  @include font(inherit, 16px, 500, 1.63, .03em, $primary-white-color);
  
  background-color: $accent-color;
}

.button__secondary {
  padding: 6px 22px;

  @include font(inherit, 16px, 500, 1.63, .03em, $primary-color);
  background-color: $secondery-background-color;
}


