.overlay {
  position: relative;
  overflow: hidden;
}

.overlay::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.overlay__text {
  transform: translateY(100%);

  @include transition(null, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
  position: absolute;
  content: "";

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.overlay__item {
  @media screen and (min-width: 768px) {
        padding: 49px 24px;
    }

  @media screen and (min-width: 1200px) {
        padding: 63px 24px;
    }  
  padding: 63px 24px;
  margin: 0;
  @include font(null, 18px, null, 1.56, .03em, $primary-white-color);
}