.form-footer {
  @media screen and (min-width: 768px) {
    @include flex(flex, null, center, null, null);
  }

  @media screen and (min-width: 1200px) {
    display: block;
    margin-left: auto;
  }
}

.footer-subscription {
  @media screen and (min-width: 1200px) {
    @include flex(flex, null, center, null, null);
  }
  
}

.form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-subscription__input {
  @media screen and (min-width: 768px) {
    max-width: 450px;    
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin: 0 12px 0 0;    
  }
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: $primary-white-color;
  background-color: $background-color;

  &::placeholder {
    @include font(null, 16px, null, 1.25, .03em, rgba(255, 255, 255, 0.6));
  }
}


.button__form {
  @include transition(background-color, null, null,  250ms, cubic-bezier(0.4, 0, 0.2, 1));
  @include flex(inline-flex, center, space-between, null, null);
  
  padding: 10px 28px 10px 29px;
  min-width: 200px;
  height: 50px;

  cursor: pointer;
  border: none;
  border-radius: 4px;

  @include font(null, 16px, 700, 1.88, .06em, $primary-white-color);
  
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}


.button-icon {
  fill: $primary-white-color;
}
