.logo__link {
  color: $accent-color;
}
.page-header__logo {
  @media screen and (max-width: 1199px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #000;
}

.logo {
  @include font($secondary-font, 24px, 700, 1.17, 0.03em, null);
}
