  $primary-color: #212121;
  $secondary-text-color: #757575;
  $accent-color: #2196f3;
  $background-color: #2f303a;
  $primary-white-color: #ffffff;
  $secondery-background-color: #f5f4fa;
  $bg-color: #eeeeee;
  $color-icons: #afb1b8;
  $main-font: "Roboto", sans-serif;
  $secondary-font:"Raleway", sans-serif;
